<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funbox.project.dao.AppUpgradesVersionMapper">
  <resultMap id="BaseResultMap" type="com.funbox.project.model.AppUpgradesVersion">
    <!--
      WARNING - @mbg.generated
    -->
    <result column="id" jdbcType="INTEGER" property="id" />
    <result column="app_type" jdbcType="VARCHAR" property="appType" />
    <result column="newest_version" jdbcType="VARCHAR" property="newestVersion" />
    <result column="lowest_version" jdbcType="VARCHAR" property="lowestVersion" />
  </resultMap>
</mapper>