<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.funbox.project.dao.oracle.MtNodeMapper">
  <resultMap id="BaseResultMap" type="com.funbox.project.model.MtNode">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="NODE_ID" jdbcType="DECIMAL" property="nodeId" />
    <result column="STORAGE_ID" jdbcType="DECIMAL" property="storageId" />
    <result column="OPERATORS_ID" jdbcType="DECIMAL" property="operatorsId" />
    <result column="NODE_NAME" jdbcType="VARCHAR" property="nodeName" />
    <result column="DELETE_MARK" jdbcType="DECIMAL" property="deleteMark" />
    <result column="AREA_CODE" jdbcType="VARCHAR" property="areaCode" />
    <result column="NODE_ADDRESS" jdbcType="VARCHAR" property="nodeAddress" />
    <result column="NODE_PLACE" jdbcType="DECIMAL" property="nodePlace" />
    <result column="ZIP_CODE" jdbcType="VARCHAR" property="zipCode" />
    <result column="LONGITUDE" jdbcType="VARCHAR" property="longitude" />
    <result column="DIMENSIONS" jdbcType="VARCHAR" property="dimensions" />
    <result column="SYNC_MARK" jdbcType="DECIMAL" property="syncMark" />
    <result column="LSYNC_TS" jdbcType="DATE" property="lsyncTs" />
    <result column="CREATOR" jdbcType="VARCHAR" property="creator" />
    <result column="CTIME" jdbcType="DATE" property="ctime" />
    <result column="ABBR" jdbcType="VARCHAR" property="abbr" />
    <result column="CARD_TYPE_ID" jdbcType="DECIMAL" property="cardTypeId" />
    <result column="NODE_AD" jdbcType="VARCHAR" property="nodeAd" />
    <result column="CUSTOMER_ID" jdbcType="VARCHAR" property="customerId" />
    <result column="UTOR" jdbcType="VARCHAR" property="utor" />
    <result column="UTIME" jdbcType="DATE" property="utime" />
    <result column="ORG_ID" jdbcType="DECIMAL" property="orgId" />
    <result column="BUSINESS_NAME" jdbcType="VARCHAR" property="businessName" />
    <result column="BUILD_NAME" jdbcType="VARCHAR" property="buildName" />
    <result column="COMPANY_NAME" jdbcType="VARCHAR" property="companyName" />
  </resultMap>
</mapper>